{% extends 'base.html' %}
{% block content %}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <div class="row" style="width:100%;">
                    <div class="col-sm-4">
                        <h5 class="card-title">Notify Me List</h5></div>
                    <div class="col-sm-8">
                        <div class="section-right">
                            <a class="btn btn-success" href="{%  url 'adminpanel:notify-list-download' %}">Export to
                                CSV</a>
                            <form class="search-form" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input class="form-control"
                                           name="qs"
                                           placeholder="Search here.." type="search"/>
                                    <button
                                            class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="mb-0 table table-striped">
                        <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if search %}
                        {% for object in search %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ object.first_name }}</td>
                            <td>{{ object.last_name }}</td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.contact_no }}</td>
                            <td>{{ object.street }}</td>
                            <td>{{ object.city }}</td>
                            <td>{{ object.state }}</td>
                            <td>{{ object.zip }}</td>
                            <td>{{ object.password }}</td>
                            <td>{{ object.created_at }}</td>
                            <td class="action">
                                <a class="btn btn-warning"
                                   href="{% url 'adminpanel:notify-detail' object.id %}" title="View"><i
                                        class="fa fa-eye"></i></a>
                                <button class="btn btn-danger deleteButton" data-placement="top"
                                        data-toggle="tooltip" data-target="#deleteModal"
                                        value="{{ object.id }}"
                                        title="Delete"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for object in formlist %}
                        <tr>
                            <td>{{ forloop.counter0|add:formlist.start_index }}</td>
                            <td>{{ object.first_name }}</td>
                            <td>{{ object.last_name }}</td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.contact_no }}</td>
                            <td>{{ object.street }}</td>
                            <td>{{ object.city }}</td>
                            <td>{{ object.state }}</td>
                            <td>{{ object.zip }}</td>
                            <td>{{ object.created_at }}</td>
                            <td class="action">
                                <a class="btn btn-warning"
                                   href="{% url 'adminpanel:notify-detail' object.id %}" title="View"><i
                                        class="fa fa-eye"></i></a>
                                <button class="btn btn-danger deleteButton" data-placement="top"
                                        data-toggle="tooltip" data-target="#deleteModal"
                                        value="{{ object.id }}"
                                        title="Delete"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <div class="text-right full-width pagination-container">
                            <ul>
                                <li> {% if count == 0 or count == 1 %}
                                    <b> <strong>Total</strong> {{ count }} </b> item
                                    {% elif count %}
                                    <b> <strong>Total</strong> {{ count }} </b> items
                                    {% elif search_count == 0 or search_count == 1 %}
                                    <b><strong>Total</strong> {{ search_count }} </b> item
                                    {% elif search_count %}
                                    <b><strong>Total</strong> {{ search_count }} </b> items
                                    {% else %}
                                    <b><strong>Total</strong> {{ search_count }}</b> item
                                    {% endif%}
                                </li>
                            </ul>
                            <ul class="pagination">
                                <!--                                    {% if formlist.has_previous %}-->
                                <!--                                    <li class="page-item"><a aria-label="Previous" class="page-link"-->
                                <!--                                                             href="?page={{ formlist.previous_page_number }}">«</a></li>-->
                                <!--                                    {% endif%}-->
                                <!--                                    {% if formlist.number|add:'-2' > 1 %}-->
                                <!--                                    <li class="page-item"><a class="page-link"-->
                                <!--                                                             href="?page={{ formlist.number|add:'-3' }}">...</a></li>-->
                                <!--                                    {% endif %}-->
                                <!--                                    {% for i in formlist.paginator.page_range %}-->
                                <!--                                    {% if formlist.number == i %}-->
                                <!--                                    <li class="page-item"><span>{{ i }} </span>-->
                                <!--                                    </li>-->
                                <!--                                    {% elif i > formlist.number|add:'-3' and i < formlist.number|add:'3' %}-->
                                <!--                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>-->
                                <!--                                    {% endif %}-->
                                <!--                                    {% endfor %}-->

                                <!--                                    {% if formlist.paginator.num_pages > formlist.number|add:'2' %}-->
                                <!--                                    <li class="page-item"><a class="page-link"-->
                                <!--                                                             href="?page={{ formlist.number|add:'3' }}">&hellip;</a>-->
                                <!--                                    </li>-->
                                <!--                                    {% endif %}-->

                                <!--                                    {% if formlist.has_next %}-->
                                <!--                                    <li class="page-item"><a aria-label="Next" class="page-link"-->
                                <!--                                                             href="?page={{ formlist.next_page_number }}">»</a></li>-->
                                <!--                                    {% endif %}-->


                                {% if formlist.has_previous %}
                                <li class="page-item"><a aria-label="Previous" class="page-link"
                                                         href="?page={{ formlist.previous_page_number }}">«</a></li>
                                {% endif%}

                                {% if formlist.number|add:'-2' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page=1">First Page</a></li>
                                {% endif %}

                                {% if formlist.number|add:'-3' > 1 %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ formlist.number|add:'-3' }}">&hellip;</a></li>
                                {% endif %}


                                {% for i in formlist.paginator.page_range %}
                                {% if formlist.number == i %}
                                <li class="page-item"><span>{{ i }} </span></li>
                                {% elif i > formlist.number|add:'-3' and i < formlist.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if formlist.number|add:'3' < formlist.paginator.num_pages %}

                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ formlist.number|add:'3' }}">&hellip;</a></li>
                                {% endif %}


                                {% if formlist.number|add:'2' < formlist.paginator.num_pages %}

                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ formlist.paginator.num_pages }}">Last
                                    Page</a></li>

                                {% endif %}


                                {% if formlist.has_next %}
                                <li class="page-item"><a aria-label="Next" class="page-link"
                                                         href="?page={{ formlist.next_page_number }}">»</a></li>
                                {% endif %}


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--delete-row-popup-->


<div aria-hidden="true" class="modale" id="deleteModal4">
    <div class="popup-dialog delete-confirm">
        <div class="modal-top">
            <div class="icon-box">
                <i aria-hidden="true" class="fa fa-times"></i>
            </div>
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <p>Do you really want to delete these records? This process cannot be undone.</p>
        </div>
        <div id="object_id_placeholder_div4">
            <input hidden="true" id="object_id_placeholder_input4" value="">
        </div>
        <div class="modal-bottom">
            <button aria-hidden="true" type="button" class="btn btn-info closemodale" data-dismiss="modal">Cancel
            </button>
            <button type="button" id="modal_delete_button4" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>


{% endblock %}
